body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.calculator {
    width: 300px;
    text-align: center;
    padding: 20px;
    border: 1px solid #5e5e5e;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#text {
    color: #333333;
    font-size: 1.5em;
    margin-bottom: 15px;
    font-family: "Poppins", sans-serif;
}

#display {
    width: 90%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1.5em;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    padding: 15px;
    font-size: 1.2em;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    background-color: #564caf;
    color: #fff;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #6ccfd3;

}